.--btn-secondary {
  background-color: unset;
  color: map-get($colors, 'primary');
  border: 2px solid map-get($colors, 'primary');
  background-image: url("@/assets/icons/Union.svg");
  background-repeat: no-repeat;
  background-position: 20px center;
  padding: 10px 20px 10px 44px;
}